 <header class="site-header">
  <div class="container navbar">

    <!-- LOGO -->
    <a href="{{ site.baseurl }}/" class="logo">
      Nathaniel's Barber Shop
    </a>

    <!-- NAVIGATION -->
    <nav class="nav-menu">
      <ul>

        <li>
          <a href="{{ site.baseurl }}/">Home</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/services/">Services</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/services/mens-haircut">Men's Haircut</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/services/beard-trim">Beard Trim</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/services/shave">Straight Razor Shave</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/services/line-up">Line Up</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/services/kids-haircut">Kids Haircut</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/faq/">FAQ</a>
        </li>

        <li>
          <a href="{{ site.baseurl }}/book/" class="btn-primary">
            Book Now
          </a>
        </li>

      </ul>
    </nav>

  </div>
</header>
